<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" expose-aside-when="large">
        <ion-header-bar class="bar-stable">
            <h1 class="title">天主教小助手</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="item-divider">
                    教会动态
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/news/vaticanacn">
                    普世教会
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/news/faithlife">
                    信仰生活
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/news/articles">
                    主内分享
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/praybook">
                    彼此代祷
                </ion-item>
                <ion-item class="item-divider">
                    每日灵修
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/stuff">
                    日课及读经
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/radio">
                    电台小助手
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/music">
                    色辣芬电台
                </ion-item>
                <ion-item class="item-divider">
                    小助手
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/bible">
                    思高版圣经
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/prayer">
                    常用祈祷文
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/catechism">
                    天主教教理
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/settings">
                    设置
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
